@page "/questions"
@inject IUserRepository userRepository
@inject IVotedRepository votedRepository 
@inject IPollRepository pollRepository
@inject NavigationManager navigationManager
@inject IQuestionRepository questionRepository
@inject QuestionService questionService
@attribute [Authorize]
<section>
    <div class="container">
        <h2>Meeting Analysis</h2>
        <div class="d-flex justify-content-center">
            <GenericList List="Questions">
                <WholeListTemplate>
                    @foreach (var question in Questions)
                    {
                        ts = questionService.TimeCreated(question.UploadTime);
                        <div class="d-flex flex-column flex-lg-row justify-content-around questionbg align-items-center w-75 py-3 mt-3">
                            <div>
                                <h2>@question.Ques</h2>
                                <p>by @question.QuestionUserName</p>
                            </div>
                            <div class="d-flex flex-row">
                                <p class="oi oi-clock pr-2 restimelogo"></p>
                                <p> @ts.Days:@ts.Hours:@ts.Minutes:@ts.Seconds</p>
                            </div>

                            <div id="flex-container" class="">
                                <button type="button" class="btn btn-primary" @onclick="@(() => SelectOpinion(question.Id))">Select Opinion</button>
                            </div>
                            <AuthorizeView Roles="Admin">
                                <Authorized>
                                    <div id="flex-container">
                                        <button type="button" class="btn btn-danger text-light mt-2 mt-lg-0" @onclick="@(() => DeleteQuestion(question.Id))">Delete Question</button>
                                    </div>
                                </Authorized>
                            </AuthorizeView>
                        </div>
                    }
                </WholeListTemplate>
            </GenericList>
        </div>
    </div>

    <div id="flex-container" class="create-survey mt-5">
        <button @onclick="@CreatePoll">Create a Poll</button>
    </div>

    <Pagination CurrentPage="@paginationDTO.Page" TotalAmountPages="totalAmountPages"
                SelectedPage="SelectedPage" />
</section>


@code {
    List<Question> Questions;
    List<UserDTO> Users;
    PaginationDTO paginationDTO = new PaginationDTO() { RecordsPerPage = 2 };

    TimeSpan ts;
    private int totalAmountPages;
    private Question question = new Question();
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Users = await userRepository.GetUsers();
            await GetUser();
            await LoadQuestions();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task GetUser()
    {

        var authState = await AuthenticationState;
        var user = authState.User;
        var identityName = user.Identity.Name;


        if (user.Identity.IsAuthenticated)
        {

            question.CompanyId = Users.Where(u => u.Email == identityName).Select(u => u.CompanyId).FirstOrDefault();

        }

    }

    private void CreatePoll()
    {
        navigationManager.NavigateTo("/question/create");
    }

    private async Task LoadQuestions()
    {
        var paginatedResponse = await questionRepository.GetQuestionsyId(paginationDTO, question.CompanyId);
        Questions = paginatedResponse.Response;
        totalAmountPages = paginatedResponse.TotalAmountPages;

    }

    private async Task SelectedPage(int page)
    {
        paginationDTO.Page = page;
        await LoadQuestions();

    }

    private async Task SelectOpinion(int id)
    {
        var voted = await votedRepository.GetVotedById(id);
        if (!voted.Completed)
        {
            navigationManager.NavigateTo($"question/{id}");
        }
        //href="/question/@question.Id"
    }

    private async Task DeleteQuestion(int id)
    {
        await questionRepository.DeleteQuestion(id);
        await pollRepository.DeletePoll(id);
        await LoadQuestions();

    }
}
@*Condition that prevents a user from navigating to opinion page pnce they've voted*@